/* .agt-info {
   padding: 0rem 3rem 3rem;
} */

.box-row {
  display: flex;
}

.box {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  max-width: 100%;
  justify-content: flex-start;
}

.box-details {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

.agt-info {
  padding: 0;
}

.agt-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.agt-text1 {
  /* padding: 0.5rem;  */

  color: rgb(42, 42, 51);
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
}

.agt-text2 {
  /* padding: 0px;  */
  color: rgb(42, 42, 51);
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.agt-address,
.agt-about {
  padding: 1rem;
}

.agt-add {
  color: rgb(42, 42, 51);
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-row {
    flex-direction: column;
  }

  .box-details {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .agt-left-c {
    display: flex;
    justify-content: center;
  }

  /* .agt-info {
        padding: 2.5rem 1rem 1rem;
    } */

  .agt-text1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    /* padding-left: 2rem; */
  }

  /* .agt-text2 { */
  /*   padding-left: 2rem; */
  /* } */
  .agt-address,
  .agt-about {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1024px) {
  .agt-details {
    flex: 0 0 33.3333333333333%;
    /* max-width: 33.333333333333333%; */
    max-width: 70%;
    margin-right: 20px;
  }

  .agt-text1 {
    /* padding-left: 2rem; */
    text-align: left;
  }
}
