/* .agt-info {
   padding: 0rem 3rem 3rem;
} */

.agt-info {
   padding: 0;
}


.agt-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block; /* Ensure it takes the full available width */
  margin: 0 auto; /* Center horizontally */
    /* margin-right: 20px; */
 }

.agt-text1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: rgb(42, 42, 51);
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0px;
 }
 .agt-text2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: rgb(42, 42, 51);
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;

 }

 .agt-address {
   padding: 3rem;  
 }

 .agt-add {
   color: rgb(42, 42, 51);
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
 }


 
 @media (max-width: 1024px) {
   .agt-left-c {
      display: flex;
      justify-content: center;
   }
   .agt-info {
      padding: 2.5rem 1rem 1rem;
   }
   .agt-image {
   /* margin-right: 0rem; */
   margin: 0 auto;
   padding: 0 auto;
   }
   .agt-text1 {    
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      margin: 0px;
   }
   
   .agt-address {
      padding: 0.5rem 2.5rem;
   }

   .agt-about {
      padding: 0.5rem 2.5rem;
   }
   
 }
 


@media (min-width: 1024px){
   .col-md-4 .col-md-8 .col-sm-12 {
     flex: 0 0 33.3333333333333%; 
     max-width: 33.333333333333333%;
   }
   .agt-image {
     width: 150%;
   }
 }
 