.contact-owner-button {
     bottom: 20px;
    right: 20px;
    /* background-color: #007bff;  */
    color: #0056b3;
    border-color: #0056b3;
    border-radius: 25px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    /* z-index: 1000; */
  }
  
  .contact-owner-button:hover {
    color:#fff;
    background-color: #0056b3;
  }