.agents-page-init-load {
    /* height: 700px; */
    margin-top: -10%;
}

.agent-search-image {
    height: 300px;
    width: 300px;
}

@media (max-width: 768px) {
    .agents-page-init-load {
        /* height: 700px; */
        margin-top: -60%;
    }
    .agent-search-image {
        height: 100px;
        width: 100px;
    }

    .agent-search-text {
        font-size: 16px;
    }
 }