.rent-details-container {
  width: Hug (1, 280px);
  height: Hug (1, 187px);
  top: 438px;
  left: 80px;
  gap: 99px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
}

.main-title-container {
  width: 866px;
  height: 148px;
  gap: 20px;
}
.main-title {
  font-family: Figtree;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: left;
  width: 589px;
  height: 24px;
  margin-top: 3px;
}

.nimble-rent {
  /* width: 218px;
height: 32px; */
font-family: Figtree;
font-size: 30px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;


}
.title-subtexts {
  font-family: Figtree;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.cards-container {
  width: Hug (1, 280px);
  height: Hug (860px);
  gap: 39px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
}

.card-one-container {
  /* width: 564px;
  height: 860px; */
  padding: 49px, 45px, 108px, 70px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 8px 0px #00000033;
  /* box-shadow: 0px 32px 64px 0px #0000003d; */
  /* flex-basis: calc(50% - 20px);  */
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px; /* Adds spacing between the cards */
}

.card-one-title-container {
  width: Hug (428px);
  height: Hug (169px);
  gap: 26px;
  margin-bottom: 20px;
}

.card-one-title {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.card-one-subtitle-box {
  width: 428px;
  height: 115px;
  padding: 30px, 66px, 29px, 26px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #ee7b0d;
}

.subtitle-box-text {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 336px;
  height: 56px;
  margin-top: 30px;
  margin-left: 26px;
}

.card-one-inner-text-container {
  width: Hug (449px);
  height: Hug (501px);
  gap: 25px;
}

.subtitle-text {
  width: 449px;
  height: 56px;
  font-family: Figtree;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.listed-style {
  width: 410px;
  height: 420px;
  font-family: Figtree;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 20px;
}

.card-two-container {
  width: 600px;
  height: 800px;
  padding: 41px, 136px, 171px, 76px;
  border-radius: 8px;
  background: #f5f7f9;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.card-two-inner-container {
  width: 465px;
  height: 644px;
  top: 41px;
  left: 76px;
  gap: 40px;
  margin-bottom: 20px;
}

.stepper-title-container {
  width: 281px;
  height: 64px;
  gap: 8px;
}

.stepper-title {
  font-family: Figtree;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  /* letter-spacing: 0em; */
  text-align: left;
  /* margin-bottom: 10px; */
  color: #000000;
}

.stepper-subtext {
  /* width: 281px;
  height: 24px; */
  font-family: Figtree;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.stepper-container {
  /* width: 465px;
  height: 540px;
  gap: 80px; */
  margin-top: 20px;
}

.label-content {
  /* width: 465px; */
  /* height: 75px; */
  /* gap: 23px; */
  font-family: Figtree;
  /* font-size: 18px; */
  font-weight: 700;
  /* line-height: 24px; */
  /* letter-spacing: 0em; */
  text-align: left;
}

.step-label {
  /* width: 275px;
  height: 24px;  */
  font-family: Figtree;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
  /* color: ffa500; */
}

.MuiStepConnector-vertical {
  border-left: 1px solid orange;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .rent-details-container {
    max-width: 80%; /* Adjust maximum width for small screens */
  }

  .main-title {
    font-size: 28px; /* Increase font size for small screens */
  }

  .title-subtexts {
    font-size: 16px; /* Adjust font size for small screens */
  }

  .subtitle-text,
  .listed-style {
    font-size: 18px; /* Adjust font size for small screens */
  }

  .stepper-title {
    font-size: 24px; /* Adjust font size for small screens */
  }

  .stepper-subtext {
    font-size: 16px; /* Adjust font size for small screens */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .rent-details-container {
    max-width: 600px; /* Adjust maximum width for medium screens */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .rent-details-container {
    max-width: 800px; /* Adjust maximum width for large screens */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .rent-details-container {
    max-width: 1200px; /* Adjust maximum width for extra large screens */
  }
}
