.rent-details-container {
  width: 1, 280px;
  height: 1, 187px;
  top: 438px;
  left: 80px;
  gap: 99px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
}

.nimble-rent-info-container {
  width: Hug (1, 280px);
  height: Hug (1, 048px);
  gap: 40px;
}
.main-title-container {
  width: 866px;
  height: 148px;
  gap: 17px;
  text-align: left;
}

.main-title {
  font-family: Figtree;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: left;
  width: 589px;
  height: 24px;
  margin-top: 3px;
  gap: 17px;
}

.nimble-rent {
  /* width: 218px;
height: 32px; */
  font-family: Figtree;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.title-subtexts {
  font-family: Figtree;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  width: 750px;
  height: 96px;
}

.cards-container {
  width: Hug (1, 280px);
  height: Hug (860px);
  gap: 39px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
  margin-top: 20px;
}

.card-one-container {
  /* width: 500px; */
  /* height: 660px; */
  padding: 49px, 45px, 108px, 70px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 8px 0px #00000033;
  box-shadow: 0px 32px 64px 0px #0000003d;
  background-color: #f9f9f9;
  border-radius: 10px;
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  margin-right: 20px; /* Adds spacing between the cards */
  /* margin-left: 20px; */
  justify-content: center;
}

.card-one-title-container {
  width: Hug (428px);
  height: Hug (169px);
  gap: 26px;
  margin-bottom: 20px;
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  margin-right: 20px; /* Adds spacing between the cards */
  margin-left: 20px;
  margin-top: 20px;
}

.card-one-title {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
  padding: 20px;
  /* margin-left: 5px; */
  margin-right: 20px; /* Adds spacing between the cards */
}

.card-one-subtitle-box {
  width: 400px;
  height: 115px;
  padding: 30px, 66px, 29px, 26px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #ee7b0d;
  /* margin-top: 20px; */
  /* margin: 20px; */
  /* padding: 20px; */
  margin-left: 20px;
  justify-content: center;
}

.subtitle-box-text {
  font-family: Figtree;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 336px;
  height: 56px;
  margin-top: 30px;
  margin-left: 20px;
}

.card-one-inner-text-container {
  width: Hug (449px);
  /* height: Hug (501px); */
  gap: 25px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  /* margin-bottom: 20px;
  margin-left: 20px; */
  margin: 20px;
}

.subtitle-text {
  width: 449px;
  height: 56px;
  font-family: Figtree;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
  /* margin-left: 20px; */
  padding-left: 20px;
}

.listed-style-container {
  width: 410px;
  /* height: 420px; */
  font-family: Figtree;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 25px;
  padding-left: 25px;
  
}

.listed-style-container ul li {
  margin-bottom: 8px; 
}

.card-two-container {
  width: 600px;
  height: 660px;
  padding: 41px, 136px, 171px, 76px;
  border-radius: 8px;
  background: #f5f7f9;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.card-two-inner-container {
  width: 465px;
  height: 644px;
  top: 41px;
  left: 76px;
  gap: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.stepper-title-container {
  width: 281px;
  height: 64px;
  gap: 8px;
  margin-left: 30px;
  padding-top: 15px;
}

.stepper-title {
  font-family: Figtree;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #000000;
}

.stepper-subtext {
  font-family: Figtree;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.stepper-container {
  margin-top: 20px;
  margin: 20px;
  padding: 20px;
}

.label-content {
  font-family: Figtree;
  font-weight: 700;
  text-align: left;
  /* margin-bottom: 20px; */
}

.step-label {
  font-family: Figtree;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
}

.MuiStepConnector-vertical {
  border-left: 2px dotted orange;
}
