.active {
  color: white;
  background: #2196f3;
}
.pointer {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link  {
  /* color: var(--accent-color); */
  color: #2196f3;
  font-weight:600;
  font-size: 1.3rem
}

.dropdown-item  {
  /* color: var(--accent-color); */
  color: #2196f3;
  font-weight:600;
  font-size: 1rem
}

.link {
  text-decoration: none !important;
}

.footer-color {
   color: white ;
   font-weight:600;
  font-size: 1.3rem
}

.footer-color:hover {
  color:#e2770d

}

.footer-nav-img{
    filter: brightness(0) invert(1);
    margin-right: 0.5rem;
}


.dropdown:active { color: #e2770d; }

.dropdown-item:hover {
  color:#e2770d
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#e2770d
}

.hoverable:hover {
  transform: scale(1.01);
  box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.react-photo-gallery--gallery img {
  object-fit: cover;
  height: 500px !important;
}
.square {
  border-radius: 0px;
}

/* .active-button {
  background: #191970;
} */

.map-info-window {
  width: 120px;
  height: 40px;
  overflow: hidden;
}


#custom-nav {
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  z-index:999;
  /* &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  } */
}

