.agent-search-title {
    color: rgb(42, 42, 51);
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0px 0px 16px;
} 

.searchForm-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.agent-search-controls-container {
    display: flex;
    flex-direction: row;
}

.search-buttons{
    display: flex;
    align-content: center;
}

@media screen and (max-width:640) {
    .filter-options{
        display: none
    }
    .btn-group {
      display: flex;
      margin: 0%;
      flex-direction: column;
    }

    .agent-search-controls-container {
        flex-direction: column;
    }

    .agent-search-title {
        font-size: 24px;
        display: flex;
        align-items: center;
    }
  
    .search-buttons {
        flex-direction: column;
        display: flex;
        width: 75%;
    }
  }

  @media (max-width: 768px) {
    .agent-search-controls-container {
        /* flex-direction: column; */
        }

    .agent-search-title {
        font-size: 24px;
       text-align: center;
    }
    .search-buttons {
        flex-direction: column;
        display: flex;
        width: 75%;
    }

    .btn-group {
        display: flex;
        margin: 0%;
        flex-direction: column;
      }
 }
