.searchForm-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}


.search-controls-container {
  display: flex;
  flex-direction: row;
}

.property-type-controls {
 width: 100% 
}

.filter-container {
  width: 40%;
  height: 290px;
  margin-left: auto;
  margin-bottom: 0%;
  border-color: red;
}

.filter-container button {
  margin-top: 0%;
}

.optgroup {
  font-size: 1rem;
  border-radius: 0%;
}

.adform-wrapper {
  background-color: #fff;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Style the container for the slider toggle */
.slider-toggle {
  display: flex;
  align-items: center;
}
/* Style for radio buttons */
.radio-button {
  display: flex;
  align-items: center;
  margin-right: 16px; /* Adjust the spacing as needed */
  cursor: pointer;
}

/* Style for selected radio button */
.selected {
  font-weight: bold;
}

.contain {
  padding: 5rem;
}

@media screen and (max-width: 640) {
  .filter-options {
    display: none;
  }
  .btn-group {
    display: flex;
    margin: 0%;
    flex-direction: column;
  }
  .contain {
    padding: 2rem 0;
  }

  .property-type-controls {
    width: 90%;
  }
  /* .filter-container {
        width: 50%;
        height: 400px ;
        margin-left: auto;
        border-color: red;
    } */
}

@media (max-width: 768px) {
  .contain {
    padding: 2rem 0;
  }

  .property-type-controls {
       width: 90%;
  }

  .search-controls-container {
    width: 60%;
    flex-direction: column;
    }
}


